.page-header {
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: $color-dark;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 100px;
  }

  &__button {
    display: block;
    max-width: 436px;
    margin: 0 80px;
    width: 100%;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    border-radius: 35px;
  }
}