.popup-checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.popup-content {
  position: absolute;
  width: 550px;
  height: 370px;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
}
.popup-content .popup-form-title {
  display: flex;
  justify-content: center;
}
.popup-content .popup-form-title p.text_default {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
.popup-content .item_popup_form {
  background: #FFF0;
}
.popup-content .item_popup_form .form_reg {
  color: #000;
}
.popup-content .item_popup_form .form_reg .form_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popup-content .item_popup_form .form_reg .form_group input {
  width: 85%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000 !important;
  height: 40px;
  background: #FFF0;
  color: #000;
  margin-bottom: 25px;
}
.popup-content .item_popup_form .form_reg .form_group ::placeholder {
  color: #000;
}
.popup-content .item_popup_form .submit_block {
  margin: 25px 0;
  justify-content: center;
  display: flex;
}
.popup-content .item_popup_form .submit_block input.submit_button {
  box-sizing: border-box;
  padding: 15px 40px;
  background: #6EC2CF;
  border: 1px solid #6EC2CF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.popup-content .item_popup_form .submit_block input.submit_button a {
  color: #FFFFFF;
}
.popup-content .item_popup_form .submit_block input.submit_button:hover {
  transition: 0.2s ease;
  background-color: #6EC2CF;
  border: 1px solid #6EC2CF;
}

.popup-shower {
  color: #00f;
  cursor: pointer;
  text-decoration: underline;
}

.popup-shower:hover {
  color: #00a;
  text-decoration: underline;
}

.popup-closer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: black;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.sert img {
  width: 50% !important;
}

@media (max-width: 767.98px) {
  .courses-hero__content {
    min-height: 200px !important;
  }
}


@media (max-width: 767.98px) {
  .popup-content {
    width: 90%;
    height: 365px;
    padding: 20px;
  }
  .courses-hero__img {
    margin-bottom: 0 !important;
  }

  .home-page .hero__btn{
    position: relative !important;
    bottom: auto !important;

  }

  .home-page .hero__img {
    margin-bottom: 50px !important;
  }

  .about-us-page .courses-hero__btn {
    position: relative !important;
    bottom: auto !important;
  }
}