.access {
  &__title {
    text-align: left;
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 27px;
    line-height: 120%;
    color: #4E4E4E;
  }

  &__button {
    margin-top: 54px;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    display: block;
    max-width: 317px;
    text-align: center;
  }
}