.account-list {
  .nav.nav-pills {
    padding: 0 100px;
    margin-bottom: 30px!important;

    @include media-breakpoint-down(lg) {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 0;
    }
  }

  .nav-item {
    @include media-breakpoint-down(md) {
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  .nav-pills .nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 0;
    padding: 10px 20px;
    border-bottom: 4px solid transparent;

    @media (max-width: 1399px) {
      padding: 10px;
    }

    @include media-breakpoint-down(md) {
      padding: 7px 10px;
    }

    &.active {
      background: transparent!important;
      border-bottom: 4px solid #722A8B;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 0 100px;

    @include media-breakpoint-down(xl) {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 12px;
  }

  &__key {
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    padding-right: 18px;
    align-items: center;
    background: #722A8B;
    border-radius: 4px;
    height: 80px;

    &-title {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      margin-left: 16px;

      @include media-breakpoint-down(sm) {
        word-break: break-all;
      }
    }
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(114, 31, 142, 0.5);
    border-radius: 4px;
    height: 80px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
  }
}