.certificate {
  background: url("../img/certificate-bg.jpg") center no-repeat;
  background-size: cover;

  .row {
    align-items: center;
  }

  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: $color-white;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    position: relative;
    top: 35px;
  }
}