.contacts-content {
  &__subheading {
    font-weight: 500;
    line-height: 1.2;
    font-size: 26px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 30px;

    &.mb-80 {
      margin-bottom: 80px;
    }
  }
}