.course-cryptocurrency-hero {
  padding: 0;
  background: #1F2A38 url("../img/services-hero-bg.svg") right bottom no-repeat;
  background-size: contain;

  &__content {
    min-height: 315px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      min-height: unset;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 55px;
    margin-top: 4px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 130px;
      margin-bottom: 70px;
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__img-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__img {
    margin-bottom: 27px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-bottom: 22px;
      margin-top: -6px;
      max-width: 330px;
    }
  }
}