.develop {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #001E40;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 60px!important;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 40px!important;
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__img-wrapper {
    display: grid;
    place-items: center;
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }
  }

  &__list {
    max-width: 513px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #F3F7FF;
    border-radius: 6px;
    padding: 16px 24px;
  }

  &__item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #00346D;
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 8px;
    }
  }

  &__item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1C1C1C;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}