.footer {
  padding: 40px 0 60px;
  background: rgba(28, 33, 66, 0.5);
  color: #ffffff;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px;
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 24px;

    &:hover {
      .footer__logo {
        opacity: 0.7;
      }
    }
  }

  &__logo {
    width: 176px;
    transition: 0.15s ease-out;
  }

  &__images {
    margin-bottom: 20px;
  }

  &__img {
    @include media-breakpoint-down(lg) {
      display: block;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px!important;
    margin-bottom: 24px;

    @include media-breakpoint-down(md) {
      text-align: center!important;
    }
  }

  &__copyright {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  &__nav-links {
    display: flex;
    justify-content: center;
    height: 100%;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      margin: 30px 0 45px;
      height: auto;
    }

    @include media-breakpoint-down(md) {
      align-items: center;
    }
  }

  &__nav-links-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 17px 50px 0;

    @include media-breakpoint-down(lg) {
      margin: 17px 60px 0 30px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @include media-breakpoint-down(md) {
      margin: 17px 30px 0 30px;
      align-items: center;
    }
  }

  &__nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &:hover {
      color: #ae7be3;
    }
  }

  &__column-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
  }

  &__socials {
    display: flex;
  }

  &__social-link {
    width: 56px;
    height: 56px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    display: grid;
    place-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__risk {
    margin-top: 40px;

    &-title {
      font-size: 13px;
      font-weight: 500;
    }

    &-text {
      font-size: 10px;
      font-weight: 300;
      line-height: 16px!important;
      margin: 10px 0;
    }
  }
}