.holidays {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
      font-size: 20px;
      line-height: 24px;
      text-align: left!important;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1C1C1C;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 17px;
      text-align: left!important;
    }
  }

  &__table-wrapper {
    margin-bottom: 24px;
  }

  &__table-country {
    display: flex;
    align-items: center;
  }

  &__table-flag {
    margin-right: 8px;
    max-width: 20px;
  }

  .table {
    th,
    td {
      vertical-align: middle;
    }

    tbody {
      th,
      td {
        font-weight: 500;
      }

      th {
        @include media-breakpoint-down(md) {
          min-width: 70px;
        }
      }
    }
  }
}