extends layout/app

block variables
    - var title = 'Безопасность счетов | Coinquest'
    - var pageClass = 'accounts-security-page'

block page
    include chunk/accounts-security-title
    include chunk/accounts-security-header
    include chunk/accounts-security-cards