extends layout/app

block variables
    - var title = 'Преимущества | Coinquest'
    - var pageClass = 'benefits-page'

block page
    include chunk/benefits-title
    include chunk/benefits-header
    include chunk/benefits-list