extends layout/app

block variables
    - var title = 'Coinquest'
    - var pageClass = 'home-page'

block page
    include chunk/hero
    include chunk/greeting
    include chunk/instruments
    include chunk/accounts
    include chunk/benefits
    include chunk/access
    include chunk/payment-systems
    include chunk/see-for-yourself