extends layout/app

block variables
    - var title = 'Закрытое сообщество | Coinquest'
    - var pageClass = 'private-club-page'

block page
    include chunk/private-club-title
    include chunk/private-club-header
    include chunk/awaiting