extends layout/app

block variables
    - var title = 'Регуляция | Coinquest'
    - var pageClass = 'regulation-page'

block page
    include chunk/regulation-title
    include chunk/regulation-header
    include chunk/regulation-benefits
    include chunk/certificate