section.section.about
    .container
        .row
            .col-12
                .about__img-wrapper
                    img(src="./img/planet.png" alt="Planet")
                .about__text CoinQuest — лицензированный брокер, который регулируется FBI и с 2019 года предоставляет финансовые услуги высшего качества. Мы работаем как с физическими лицами, так и с крупными корпоративными клиентами.
                .about__text Обслуживаем клиентов более чем в 30 странах, чтобы как можно больше людей могли свободно и просто торговать, инвестировать и управлять передовыми торговыми интрументами.
                .about__text А чтобы отсутствие опыта и знаний не стало преградой — каждый клиент может обучиться азам и углубленным тонкостям трейдинга с нашими курсами.