section.section.about-cards
    .container
        .row.row-cols-1.row-cols-md-3.g-4
            .col
                .card
                    img.card-img-top(src='./img/about-cards-1.svg' alt='Регуляция брокера')
                    .card-body
                        h5.card-title Регуляция брокера
                        p.btn.btn__transparent.card-button Подробнее
            .col
                .card
                    img.card-img-top(src='./img/about-cards-2.svg' alt='Безопасность счетов')
                    .card-body
                        h5.card-title Безопасность счетов
                        p.btn.btn__transparent.card-button Подробнее
            .col
                .card
                    img.card-img-top(src='./img/about-cards-3.svg' alt='Наши преимущества')
                    .card-body
                        h5.card-title Наши преимущества
                        p.btn.btn__transparent.card-button Подробнее