section.section.about-targets
    .container
        .row
            .col-md-12
                ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                    li.nav-item(role='presentation')
                        button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') Главная цель
                    li.nav-item(role='presentation')
                        button#pills-profile-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') Ценности компании
                    li.nav-item(role='presentation')
                        button#pills-contact-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-contact' type='button' role='tab' aria-controls='pills-contact' aria-selected='false') Концепция бренда
                #pills-tabContent.tab-content
                    #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab') Мы стремимся к тому, чтобы клиенты получали от нас больше, чем просто услуги. Поэтому мы совмещаем новые технологические решения, качественный и быстрый сервис, а также прозрачные условия сотрудничества. Всю нашу команду и клиентов объединяет доверие, совершенствование и желание вести прибыльный бизнес просто и прозрачно.
                    #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab') Мы стремимся к тому, чтобы клиенты получали от нас больше, чем просто услуги. Поэтому мы совмещаем новые технологические решения, качественный и быстрый сервис, а также прозрачные условия сотрудничества. Всю нашу команду и клиентов объединяет доверие, совершенствование и желание вести прибыльный бизнес просто и прозрачно.
                    #pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab') Мы стремимся к тому, чтобы клиенты получали от нас больше, чем просто услуги. Поэтому мы совмещаем новые технологические решения, качественный и быстрый сервис, а также прозрачные условия сотрудничества. Всю нашу команду и клиентов объединяет доверие, совершенствование и желание вести прибыльный бизнес просто и прозрачно.