section.section.access
    .container
        .row
            .col-md-6
                .access__content
                    h2.section__title.access__title Доступ на любом устройстве в один клик
                    p.access__text Платформа CoinQuest поддерживает все современные девайсы.
                    p.access__text Управляйте своими торговыми счетами в своем ритме: совершать сделки, переводить средства и следить за рынками теперь проще и быстрее
                    a.button.button_green.access__button(href="#") Узнать больше
            .col-md-6
                .access__img-wrapper
                    img.access__img(src="./img/access-img.png" alt="Доступ на любом устройстве в один клик")