section.section.page-header
    .container
        .row
            .col-md-12
                h2.page-header__title В сфере финансовых услуг самое ценное – это средства и их безопасность. Чтобы наши клиенты были спокойны, мы создали многоступенчатую систему защиты, которая позволит не беспокоиться о потери финансов из-за несанкционированных действий со стороны мошенников, или других непредвиденных факторов.