section.section.accounts-security-cards
    .container
        .row.row-cols-1.row-cols-md-2.g-4
            .col
                .card
                    .card-body
                        h5.card-title Сертификаты безопасности SSL
                        img.card-img-top(src='./img/acc-security-1.png' alt='...')
                        p.card-text Защитить данные пользователей нам помогают сертификаты SSL. Их протоколы обеспечивают безопасную передачу данных на веб-сайте. В случае попытки взлома сервера распознают, что кто-то пытается выдать себя за верифицированного клиента и не даст мошеннику изменить или распознать данные.
            .col
                .card
                    .card-body
                        h5.card-title Распределение средств
                        img.card-img-top(src='./img/acc-security-2.png' alt='...')
                        p.card-text Фонды активов компании и средств клиентов не пересекаются. Клиентские счета никогда не были основными финансовыми ресурсами CoinQuest. Они используются только в рамках торговых операций.  В случае теоритического банкротства компании средства пользователей останутся в сохранности.
            .col
                .card
                    .card-body
                        h5.card-title Контроль устройств
                        img.card-img-top(src='./img/acc-security-3.jpg' alt='...')
                        p.card-text Чтобы избежать подозрительных входов – система фиксирует устройства, с которых клиенты заходят чаще всего. При продозрительных заходах мы можем совершить звонок, чтобы подтвердить, что вход был выполнен владельцем счета.
            .col
                .card
                    .card-body
                        h5.card-title Верификация
                        img.card-img-top(src='./img/acc-security-4.jpg' alt='...')
                        p.card-text Защитить учетную запись поможет верификация. Она подтверждает личность документами владельца, номером телефона и адресом проживания. Процесс верификации доказывает, что клиенту есть 18, что он имеет право совершать торговые операции и не занимается отмыванием средств.
