section.section.awaiting
    .container
        .row
            .col-md-12
                h2.section__title.awaiting__title Что ждет в закрытом сообществе?
                .awaiting__list
                    .awaiting__item
                        img.awaiting__item-img(src="./img/awaiting-item-1.svg")
                        .awaiting__item-content
                            h3.awaiting__item-title Сигналы от аналитического отдела
                            p.awaiting__item-text В сообществе можно получить уникальные сигналы, чтобы первыми оценить ситуацию на рынке и предпринять правильные действия
                    .awaiting__item
                        img.awaiting__item-img(src="./img/awaiting-item-2.svg")
                        .awaiting__item-content
                            h3.awaiting__item-title Сигналы от аналитического отдела
                            p.awaiting__item-text В сообществе можно получить уникальные сигналы, чтобы первыми оценить ситуацию на рынке и предпринять правильные действия
                    .awaiting__item
                        img.awaiting__item-img(src="./img/awaiting-item-3.svg")
                        .awaiting__item-content
                            h3.awaiting__item-title Сигналы от аналитического отдела
                            p.awaiting__item-text В сообществе можно получить уникальные сигналы, чтобы первыми оценить ситуацию на рынке и предпринять правильные действия
                    .awaiting__item
                        img.awaiting__item-img(src="./img/awaiting-item-4.svg")
                        .awaiting__item-content
                            h3.awaiting__item-title Сигналы от аналитического отдела
                            p.awaiting__item-text В сообществе можно получить уникальные сигналы, чтобы первыми оценить ситуацию на рынке и предпринять правильные действия