section.section.benefits-list
    .benefits-list__row
        .container
            .row
                .col-md-6
                    .benefits-list__content
                        h3.benefits-list__title Поддержка всех доступных устройств
                        p.benefits-list__text Пользоваться платформой можно с любого удобного устройства, в любое время. Это позволяет экономить время и сделать клиента мобильным, чтобы больше контролировать и успевать.
                        p.benefits-list__text Управлять счетами, получать сигналы, редактировать сделки и следить за новостями рынка возможно в любом месте, где есть интернет соединение и пару свобоных минут.
                .col-md-6
                    .benefits-list__img-wrapper
                        img.benefits-list__img(src="./img/benefits-img-1.png" alt="Поддержка всех доступных устройств")
    .benefits-list__row
        .container
            .row
                .col-md-6.order-1
                    .benefits-list__content
                        h3.benefits-list__title Свежие новости и аналитика
                        p.benefits-list__text Сфера финансовых рынков требует постоянного обучения и понимания ситуации на рынке. Это помогает чувствовать себя уверенней и не совершать ошибок по незнанию.
                        p.benefits-list__text Наши аналитики каждый день фиксируют самые важные события в мире Форекс, анализируют текущую ситуацию и публикуют свежие новостные сводки, которые вы можете найти в разделе Новости и Аналитика
                .col-md-6
                    .benefits-list__img-wrapper
                        img.benefits-list__img(src="./img/benefits-img-2.png" alt="Свежие новости и аналитика")
    .benefits-list__row
        .container
            .row
                .col-md-6
                    .benefits-list__content
                        h3.benefits-list__title Обучающие курсы
                        p.benefits-list__text Успех в любой сфере зависит от старания и накопленных знаний. Постигать любое начинание самому достаточно трудно, поэтому мы создали систему своих обучающий курсов, которые помогут разобраться с тонкостями области и проверить полученные знание тестами.
                        p.benefits-list__text Ознакомиться со всеми доступными курсами можно на странице Обучение
                .col-md-6
                    .benefits-list__img-wrapper
                        img.benefits-list__img(src="./img/benefits-img-3.png" alt="Обучающие курсы")
    .benefits-list__row
        .container
            .row
                .col-md-6.order-1
                    .benefits-list__content
                        h3.benefits-list__title Множество способов пополнения
                        p.benefits-list__text Мы предоставляем клиентам большой выбор средств пополнения, а сама процедура пополнения или вывода достаточно проста, чтобы каждый мог легко справиться с ней. Надежно и удобно можно поплнить счет картой, криптовалютой, электронным платежом и тд.
                        p.benefits-list__text Все возможные способы можно просмотреть в разделе Способы пополнения
                .col-md-6
                    .benefits-list__img-wrapper
                        img.benefits-list__img(src="./img/benefits-img-4.png" alt="Множество способов пополнения")
    .benefits-list__row
        .container
            .row
                .col-md-6
                    .benefits-list__content
                        h3.benefits-list__title Разнобразие типов счетов
                        p.benefits-list__text Мы понимаем, что каждый клиент имеет разные цели, потребности и финансы. Поэтому мы разработали гибкую и разнообразную систему торговых счетовв. Можно выбрать любой, в зависимости от желаемой прибыли, характера стратегии и уровня подготовки трейдера.
                        p.benefits-list__text Подробнее о каждом счете вы ознакомиться на странице Типы счетов
                .col-md-6
                    .benefits-list__img-wrapper
                        img.benefits-list__img(src="./img/benefits-img-5.png" alt="Разнобразие типов счетов")