section.section.benefits
    .container
        .row
            .col-12
                h2.section__title.benefits__title Больше специальных предложений — больше выгоды
        .row
            .col-md-4
                .benefits__card
                    img.benefits__card-icon(src="./img/benefits-icon-1.svg" alt="Закрытое сообщество CoinQuest")
                    h3.benefits__card-title Закрытое сообщество CoinQuest
                    p.benefits__card-text Получите доступ к закрытому сообществу CoinQuest, чтобы быстрее расти в окружении единомышленников
                    a.benefits__card-link(href="#") Подробнее
            .col-md-4
                .benefits__card
                    img.benefits__card-icon(src="./img/benefits-icon-2.svg" alt="Страхование депозита")
                    h3.benefits__card-title Страхование#[br]депозита
                    p.benefits__card-text Сохраните свой депозит в случае неудачной сделки с нашей программой умного страхования
                    a.benefits__card-link(href="#") Подробнее
            .col-md-4
                .benefits__card
                    img.benefits__card-icon(src="./img/benefits-icon-3.svg" alt="Обучение")
                    h3.benefits__card-title Обучение
                    p.benefits__card-text Обучайтесь тонкостям трейдинга и с легкостью разбирайтесь в трендах рынков
                    a.benefits__card-link(href="#") Подробнее
        .row.justify-content-center
            .col-md-4
                .benefits__card
                    img.benefits__card-icon(src="./img/benefits-icon-4.svg" alt="Cashback")
                    h3.benefits__card-title Cashback
                    p.benefits__card-text Возвращайте до 25% средств обратно на свою карту
                    a.benefits__card-link(href="#") Подробнее
            .col-md-4
                .benefits__card
                    img.benefits__card-icon(src="./img/benefits-icon-5.svg" alt="Реферальная программа")
                    h3.benefits__card-title Реферальная программа
                    p.benefits__card-text Получите до 50% больше прибыли за каждого приглашенного партнера
                    a.benefits__card-link(href="#") Подробнее