section.section.page-header
    .container
        .row
            .col-md-12
                h2.page-header__title Наше главное стремление — выделяться за счет первоклассного сервиса и политики, ориентированной на интересы клиентов. Доверие и успешные результаты аудитории —  главный показатель нашей качественной работы и один из главных мотиватор для развития.