section.section.certificate
    .container
        .row
            .col-md-4
                .certificate__img-wrapper
                    img.certificate__img(src="./img/certificate.png" alt="Сертификат")
            .col-md-8
                .certificate__content
                    p.certificate__text Деятельность нашей компании регулируется Центром Регулирования Отношений на Финансовых Рынках (ЦРОФР).
                    p.certificate__text Организация занимается контролем качества услуг брокеров и других небанковских финансовых организаций. В том числе, проверкой участников рынка на надежность услуг рынка криптовалют, валютных и фондовых рынков, безопасности сделок и сохранения инвестиций.
                    p.certificate__text Проверить подлинность сертификата можно на официальном сайте ЦРОФР