footer.footer
    .container
        .row
            .col-lg-3
                a.footer__logo-link(href="./")
                    img.footer__logo(src="./img/logo.png" alt="footer logo")
            .col-lg-5
                .footer__nav-links
                    .footer__nav-links-column
                        a.footer__nav-link(href="./news.html") Новости
                        a.footer__nav-link(href="./signals.html") Сигналы
                        a.footer__nav-link(href="./advices.html") Советы
                    .footer__nav-links-column

                        a.footer__nav-link(href="./brand-potential.html") Определение потенциала
                        a.footer__nav-link(href="./payment-methods.html") Платежные методы
                        a.footer__nav-link(href="./services.html") Услуги
            .col-lg-4
                .footer__nav-links
                    .footer__nav-links-column
                        a.footer__nav-link(href="./faq.html") FAQ
                        a.footer__nav-link(href="./contacts.html") Контакты
        .row.footer__risk
            .col-md-12
                h4.footer__risk-title Уведомление о рисках:
        .row
            .col-md-6
                p.footer__risk-text Операции, предлагаемые данным сайтом, могут осуществляться исключительно полностью дееспособными совершеннолетними (достигшими 18 лет) лицами.
                p.footer__risk-text Операции с финансовыми инструментами, предлагаемые данным сайтом могут считаться операциями с высоким риском. При совершении таких операций существуют риски частичной либо полной потери денежных средств. Соответственно, настоятельно рекомендуется удерживаться от инвестирования и торговли теми средствами, потерю которых в случае неблагоприятного исхода таких торгов Вы не можете себе позволить.
                p.footer__risk-text Рекомендуем внимательно ознакомиться с нашими условиями и положениями, уведомлением о рисках, клиентским соглашением, политикой конфиденциальности и политикой AML и KYC прежде чем приступить к совершению операций на данном сайте.
            .col-md-6
                p.footer__risk-text Сайт Cyberswop является торговой маркой, данный сайт является собственностью компании Cyberswop.
                p.footer__risk-text Компания Cyberswop, а также сайт Cyberswop не оказывают каких-либо услуг гражданам и жителям США, Бельгии, Израиля, Сирии, Судана, Ирана, Северной Кореи, Японии, а также других стран и юрисдикций, где указанные услуги не могут быть оказаны в силу действующего законодательства.