section.section.greeting
    .container
        .row
            .col-md-12
                h2.section__title.greeting__title Рады приветствовать в
                p.greeting__brand-title Coin#[span Q]uest
                p.greeting__subtitle Мы обеспечиваем выгодные и комфортные условия торговли, чтобы вы могли иметь доступ ко всем торговым инструментам в один клик
        .row.greeting__content-row
            .col-md-7
                .greeting__content
                    .greeting__text Следить за ситуацией на рынках #[span.text-green в режиме реального времени]
                    button.button.button_green Открыть счет
            .col-md-5
                .greeting__img-wrapper
                    img.greeting__img(src="./img/greeting-img.png" alt="stocks")