header.header
    .header__top
        .container
            .header__main
                a.logo(href="/")
                    img(src="./img/logo.png" alt="logo")
                nav.main-nav
                    a.main-nav__link(href="/") Главная
                    a.main-nav__link(href="/services.html") Услуги
                    .dropdown
                        button.dropbtn
                            | Аналитика
                            svg(width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M6 0.5C9.3084 0.5 12 3.1916 12 6.5C12 9.8084 9.3084 12.5 6 12.5C2.6916 12.5 0 9.8084 0 6.5C0 3.1916 2.6916 0.5 6 0.5ZM6 1.4C3.1878 1.4 0.9 3.6878 0.9 6.5C0.9 9.3122 3.1878 11.6 6 11.6C8.8122 11.6 11.1 9.3122 11.1 6.5C11.1 3.6878 8.8122 1.4 6 1.4ZM8.4006 5.31554C8.5764 5.49074 8.577 5.77574 8.4018 5.95214L6.3186 8.04374C6.2514 8.1119 6.16423 8.15587 6.07092 8.17073L6 8.17634C5.8806 8.17634 5.7654 8.12894 5.6814 8.04374L3.5988 5.95214C3.423 5.77574 3.4242 5.49074 3.6 5.31554C3.7764 5.14034 4.0614 5.14034 4.2366 5.31674L6 7.08914L7.764 5.31674C7.9392 5.14034 8.2242 5.14034 8.4006 5.31554Z' fill='white')
                        .dropdown-content
                            a(href='./brand-potential.html') Определение потенциала
                            a(href='./fundamental-analysis.html') Фундаментальный анализ
                            a(href='./technical-analysis.html') Технический анализ
                            a(href='./news.html') Новости
                    .dropdown
                        button.dropbtn
                            | Инструментарий
                            svg(width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M6 0.5C9.3084 0.5 12 3.1916 12 6.5C12 9.8084 9.3084 12.5 6 12.5C2.6916 12.5 0 9.8084 0 6.5C0 3.1916 2.6916 0.5 6 0.5ZM6 1.4C3.1878 1.4 0.9 3.6878 0.9 6.5C0.9 9.3122 3.1878 11.6 6 11.6C8.8122 11.6 11.1 9.3122 11.1 6.5C11.1 3.6878 8.8122 1.4 6 1.4ZM8.4006 5.31554C8.5764 5.49074 8.577 5.77574 8.4018 5.95214L6.3186 8.04374C6.2514 8.1119 6.16423 8.15587 6.07092 8.17073L6 8.17634C5.8806 8.17634 5.7654 8.12894 5.6814 8.04374L3.5988 5.95214C3.423 5.77574 3.4242 5.49074 3.6 5.31554C3.7764 5.14034 4.0614 5.14034 4.2366 5.31674L6 7.08914L7.764 5.31674C7.9392 5.14034 8.2242 5.14034 8.4006 5.31554Z' fill='white')
                        .dropdown-content
                            .sub-dropdown
                                button.sub-dropbtn
                                    | Календари
                                    svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M-2.18557e-07 5C-3.39069e-07 2.243 2.243 -9.80446e-08 5 -2.18557e-07C7.757 -3.39069e-07 10 2.243 10 5C10 7.757 7.757 10 5 10C2.243 10 -9.80446e-08 7.757 -2.18557e-07 5ZM0.75 5C0.75 7.3435 2.6565 9.25 5 9.25C7.3435 9.25 9.25 7.3435 9.25 5C9.25 2.6565 7.3435 0.75 5 0.75C2.6565 0.75 0.75 2.6565 0.75 5ZM4.01295 2.9995C4.15895 2.853 4.39645 2.8525 4.54345 2.9985L6.28645 4.7345C6.34325 4.7905 6.37989 4.86314 6.39227 4.9409L6.39695 5C6.39695 5.0995 6.35745 5.1955 6.28645 5.2655L4.54345 7.001C4.39645 7.1475 4.15895 7.1465 4.01295 7C3.86695 6.853 3.86695 6.6155 4.01395 6.4695L5.49095 5L4.01395 3.53C3.86695 3.384 3.86695 3.1465 4.01295 2.9995Z' fill='#ffffff')
                                .sub-dropdown-content
                                    a(href='./holidays-calendar.html') Государственные праздники
                                    a(href='./interest-rate-calendar.html') Процентные ставки
                                    a(href='./economic-calendar.html') Экономический
                            .sub-dropdown
                                button.sub-dropbtn
                                    | Калькуляторы
                                    svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M-2.18557e-07 5C-3.39069e-07 2.243 2.243 -9.80446e-08 5 -2.18557e-07C7.757 -3.39069e-07 10 2.243 10 5C10 7.757 7.757 10 5 10C2.243 10 -9.80446e-08 7.757 -2.18557e-07 5ZM0.75 5C0.75 7.3435 2.6565 9.25 5 9.25C7.3435 9.25 9.25 7.3435 9.25 5C9.25 2.6565 7.3435 0.75 5 0.75C2.6565 0.75 0.75 2.6565 0.75 5ZM4.01295 2.9995C4.15895 2.853 4.39645 2.8525 4.54345 2.9985L6.28645 4.7345C6.34325 4.7905 6.37989 4.86314 6.39227 4.9409L6.39695 5C6.39695 5.0995 6.35745 5.1955 6.28645 5.2655L4.54345 7.001C4.39645 7.1475 4.15895 7.1465 4.01295 7C3.86695 6.853 3.86695 6.6155 4.01395 6.4695L5.49095 5L4.01395 3.53C3.86695 3.384 3.86695 3.1465 4.01295 2.9995Z' fill='#ffffff')
                                .sub-dropdown-content
                                    a(href='./positions-calculator.html') Калькулятор позиций
                                    a(href='./pip-calculator.html') Калькулятор пунктов
                                    a(href='./forex-calculator.html') Калькулятор Forex
                    .dropdown
                        button.dropbtn
                            | Клиентам
                            svg(width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M6 0.5C9.3084 0.5 12 3.1916 12 6.5C12 9.8084 9.3084 12.5 6 12.5C2.6916 12.5 0 9.8084 0 6.5C0 3.1916 2.6916 0.5 6 0.5ZM6 1.4C3.1878 1.4 0.9 3.6878 0.9 6.5C0.9 9.3122 3.1878 11.6 6 11.6C8.8122 11.6 11.1 9.3122 11.1 6.5C11.1 3.6878 8.8122 1.4 6 1.4ZM8.4006 5.31554C8.5764 5.49074 8.577 5.77574 8.4018 5.95214L6.3186 8.04374C6.2514 8.1119 6.16423 8.15587 6.07092 8.17073L6 8.17634C5.8806 8.17634 5.7654 8.12894 5.6814 8.04374L3.5988 5.95214C3.423 5.77574 3.4242 5.49074 3.6 5.31554C3.7764 5.14034 4.0614 5.14034 4.2366 5.31674L6 7.08914L7.764 5.31674C7.9392 5.14034 8.2242 5.14034 8.4006 5.31554Z' fill='white')
                        .dropdown-content
                            .sub-dropdown
                                button.sub-dropbtn
                                    | Обучение
                                    svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M-2.18557e-07 5C-3.39069e-07 2.243 2.243 -9.80446e-08 5 -2.18557e-07C7.757 -3.39069e-07 10 2.243 10 5C10 7.757 7.757 10 5 10C2.243 10 -9.80446e-08 7.757 -2.18557e-07 5ZM0.75 5C0.75 7.3435 2.6565 9.25 5 9.25C7.3435 9.25 9.25 7.3435 9.25 5C9.25 2.6565 7.3435 0.75 5 0.75C2.6565 0.75 0.75 2.6565 0.75 5ZM4.01295 2.9995C4.15895 2.853 4.39645 2.8525 4.54345 2.9985L6.28645 4.7345C6.34325 4.7905 6.37989 4.86314 6.39227 4.9409L6.39695 5C6.39695 5.0995 6.35745 5.1955 6.28645 5.2655L4.54345 7.001C4.39645 7.1475 4.15895 7.1465 4.01295 7C3.86695 6.853 3.86695 6.6155 4.01395 6.4695L5.49095 5L4.01395 3.53C3.86695 3.384 3.86695 3.1465 4.01295 2.9995Z' fill='#ffffff')
                                .sub-dropdown-content
                                    a(href='./course-start.html') Для начинающих
                                    a(href='./course-pro.html') Для продвинутых
                            a(href='./signals.html') Сигналы
                            a(href='./account-types.html') Типы счетов
                            .sub-dropdown
                                button.sub-dropbtn
                                    | Информеры
                                    svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M-2.18557e-07 5C-3.39069e-07 2.243 2.243 -9.80446e-08 5 -2.18557e-07C7.757 -3.39069e-07 10 2.243 10 5C10 7.757 7.757 10 5 10C2.243 10 -9.80446e-08 7.757 -2.18557e-07 5ZM0.75 5C0.75 7.3435 2.6565 9.25 5 9.25C7.3435 9.25 9.25 7.3435 9.25 5C9.25 2.6565 7.3435 0.75 5 0.75C2.6565 0.75 0.75 2.6565 0.75 5ZM4.01295 2.9995C4.15895 2.853 4.39645 2.8525 4.54345 2.9985L6.28645 4.7345C6.34325 4.7905 6.37989 4.86314 6.39227 4.9409L6.39695 5C6.39695 5.0995 6.35745 5.1955 6.28645 5.2655L4.54345 7.001C4.39645 7.1475 4.15895 7.1465 4.01295 7C3.86695 6.853 3.86695 6.6155 4.01395 6.4695L5.49095 5L4.01395 3.53C3.86695 3.384 3.86695 3.1465 4.01295 2.9995Z' fill='#ffffff')
                                .sub-dropdown-content
                                    a(href='./forex-trading-session-schedule.html') Расписание торговых сессий Forex
                                    a(href='./courses-table.html') Таблица курсов
                                    a(href='./market-review.html') Обзор рынка
                                    a(href='./reference-levels.html') Опорные уровни
                                    a(href='./historical-index.html') Исторический уровень рыночных отношений
                                    a(href='./swfx-market-relations-index.html') Индекс рыночных настроений SWFX
                                    a(href='./movers-and-shakers.html') Дневные movers & shakers
                            a(href='./payment-methods.html') Платежные методы
                            a(href='./advices.html') Советы
                    a.main-nav__link(href='./contacts.html') Контакты
                    a.main-nav__link(href='./faq.html') FAQ
                .burger-container
                    #burger
                        .bar.topBar
                        .bar.middleBar
                        .bar.btmBar