section.section.hero
    .container
        .col-md-9.col-lg-12
            .hero__content
                h1.hero__title Только правильная торговля:
                h2.hero__subtitle быстро, технологично, безопасно
                .hero__button-wrapper
                    a.button.button_green Открыть счет