section.section.instruments
    .container
        .row
            .col-md-12
                h2.section__title.instruments__title Выбирайте из доступных торговых инструментов
                .instruments__list
                    .instruments__item
                        img.instruments__item-img(src="./img/instruments-1.svg" alt="Криптовалюта")
                        .instruments__item-title Криптовалюты
                    .instruments__item
                        img.instruments__item-img(src="./img/instruments-2.svg" alt="Акции")
                        .instruments__item-title Акции
                    .instruments__item
                        img.instruments__item-img(src="./img/instruments-3.svg" alt="Металлы")
                        .instruments__item-title Металлы
                    .instruments__item
                        img.instruments__item-img(src="./img/instruments-4.svg" alt="Индексы")
                        .instruments__item-title Индексы