section.section.payment-systems
    .container
        .row
            .col-md-12
                h2.section__title.payment-systems__title Доступные платежные системы
        .row
            .col-md-12
                .payment-systems__list
                    img.payment-systems__img(src="./img/binance.png" alt="binance")
                    img.payment-systems__img(src="./img/tether.png" alt="tether")
                    img.payment-systems__img(src="./img/coinbase.png" alt="coinbase")
                    img.payment-systems__img(src="./img/moonpay.png" alt="moonpay")
                    img.payment-systems__img(src="./img/ethereum.png" alt="ethereum")
        .row
            .col-md-12
                .payment-systems__list.payment-systems__list_second
                    img.payment-systems__img(src="./img/visa.png" alt="visa")
                    img.payment-systems__img(src="./img/mastercard.png" alt="mastercard")
                    img.payment-systems__img(src="./img/1.png" alt="1")
                    img.payment-systems__img(src="./img/maestro.png" alt="maestro")
                    img.payment-systems__img(src="./img/sepa.png" alt="sepa")
        .row
            .col-md-12
                .payment-systems__info
                    .payment-systems__info-item Минимальная#[br]комиссия
                    .payment-systems__info-item Гибкая система#[br]депозитов
                    .payment-systems__info-item Безопасные протоколы#[br]хранения средств
                    .payment-systems__info-item Индивидуальное#[br]кредитное плечо