// PRIVACY POPUP
.privacy-popup
    .privacy-popup__inner
        .privacy-popup__left
            p.privacy-popup__text
                | Мы используем cookies-файлы для того, чтобы улучшить Ваш опыт использования сайта.
        .privacy-popup__right
            .privacy-popup__buttons
                button#button-accept.button.button_transparent.privacy-popup__button Принять
                button#button-dismiss.button.button_transparent.privacy-popup__button.privacy-popup__button_transparent Отклонить