section.section.page-header.private-club
    .container
        .row
            .col-md-12
                h2.page-header__title.private-club__title Чтобы путь трейдера был более комфотным и продуктивным — мы создали закрытое клиентское общество. В нем можно найти эксклюзивные сигналы и новости, а так же много полезной информации от нащих аналитиков
                .page-header__buttons-wrapper
                    a.btn.btn__transparent.page-header__button Стать участником
                    a.btn.btn__transparent.page-header__button Открыть счет