section.section.page-header
    .container
        .row
            .col-md-12
                h2.page-header__title Важно, чтобы у клиентов была вся необходимая информация для принятия решения о сотрудничестве с брокером. Поэтому, мы стараемся дать все необходимые сведения для выбора.