section.section.regulation-benefits
    .container
        .row
            .col-md-12
                .regulation-benefits__wrapper
                    h2.section__title.regulation-benefits__title Преимущества регулируемых брокерских услуг
                    .regulation-benefits__list
                        .regulation-benefits__item
                            img.regulation-benefits__item-icon(src="./img/reg-benefits-1.png" alt="Страхование счетов")
                            p.regulation-benefits__text Страхование счетов
                        .regulation-benefits__item
                            img.regulation-benefits__item-icon(src="./img/reg-benefits-2.png" alt="Предотвращение отмыванию финансов")
                            p.regulation-benefits__text Предотвращение отмыванию финансов
                        .regulation-benefits__item
                            img.regulation-benefits__item-icon(src="./img/reg-benefits-3.png" alt="Надежная защита счетов")
                            p.regulation-benefits__text Надежная защита счетов