section.section.see-for-yourself
    .container
        .row
            .col-md-12
                h2.section__title.see-for-yourself__title Убедитесь сами
                p.see-for-yourself__text Выбрать своего идеального брокера бывает непросто. Чтобы решить, что именно нужно вам и как это получить на лучших условиях –— можно протестировать наши услуги и открыть счет на нужную сумму. У нас есть пакеты, который идеально подходят для тестового периода и практики для новичков.
                .see-for-yourself__buttons-wrapper
                    a.btn.btn__transparent.see-for-yourself__button Больше о счетах
                    a.btn.btn__transparent.see-for-yourself__button Открыть счет